// VARIABLES
$menu-bar-item-horizontal-padding: 7px;
$menu-bar-item-height: 26px;
$menu-bar-item-min-width: $menu-bar-item-height;
$menu-bar-item-border-color: rgba(0,0,0,.1);
$menu-bar-item-border-shadow-color: rgba(0,0,0,.3);
$menu-bar-item-border-width: 1px;
$menu-bar-item-text-color: #333;
$menu-bar-item-disabled-text-color: #999;
$menu-bar-item-spacing: 10px;
$menu-bar-height: 2*$menu-bar-item-border-width + $menu-bar-item-height;
$menu-bar-font: bold 12px 'Arial', 'sans-serif';
$menu-bar-item-zindex: 1;
$menu-bar-separator-height: 26px;
$menu-border-width: 1px;
$menu-vertical-padding: 0.2em;
$menu-item-vertical-padding: 0.4em;
$menu-item-horizontal-padding: 2em;
$menu-item-disabled-text-color: #AAA;

// HELPERS
@mixin gradient($start, $end){
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end));
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: linear-gradient(top, $start 0%, $end 100%);                
  background-image: -ms-linear-gradient(bottom, $start 0%, $end 100%);
}

@mixin no-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;    
}
@mixin no-drag{
  -moz-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;  
}
@mixin button_colour($light, $dark, $shift: 15px){
    background-color: $dark;
    color: white;
    border-color: $menu-bar-item-border-color $menu-bar-item-border-color $menu-bar-item-border-shadow-color;
    @include gradient($light, $dark);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;

    &:hover:not(:active){
      -moz-transition: background-position 0.1s linear 0s;
      -webkit-transition: background-position 0.1s linear 0s;
      background-position: 0 (-$shift);
    }
}

// MIXINS
@mixin menu_bar_item{
  @include menu_bar_item_base;
  @include menu_bar_item_hover;
  @include menu_bar_item_pressed;
  @include menu_bar_item_colours;
  @include menu_bar_item_disabled;
}
@mixin menu_bar_item_base{
  @include button_colour(#fefefe, #dddede, 5px);
  border-radius: 2px;
  border-style: solid;
  border-width: $menu-bar-item-border-width;
  font: $menu-bar-font;
  line-height: $menu-bar-item-height;
  min-width: $menu-bar-item-min-width - 2*$menu-bar-item-horizontal-padding;
  padding: 0 $menu-bar-item-horizontal-padding;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  display: inline-block;
  color: $menu-bar-item-text-color;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); // Bevelled top edge
  -moz-transition: border-color 0.1s linear 0s;
  -webkit-transition: border-color 0.1s linear 0s;

  
  // Place the button above any nested menu
  position: relative;
  z-index: $menu-bar-item-zindex;
  cursor: pointer;

  img{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  
  > a, > label{
    cursor: pointer; // Override browser default on labels
    text-decoration: none;        
    // Make the a fill the hoverable area of the button so clicking anywhere triggers the link
    margin: -$menu-bar-item-horizontal-padding (-$menu-bar-item-horizontal-padding - $menu-bar-item-border-width);
    padding: $menu-bar-item-horizontal-padding ($menu-bar-item-horizontal-padding + $menu-bar-item-border-width);
  }
  a:link, a:visited{
    color: inherit;
  }

  // Hide the inputs without making them display none. IE doesn't click them if they are display none.
  input[type='submit']{
    position: absolute;
    z-index: -1;
    left: -9999px;
  }    
}
@mixin menu_bar_item_hover{
  &:hover:not(.disabled){
    border-color: #888;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) $menu-bar-item-border-shadow-color;
    // Make the button border appear even when in a group by popping the button up above its siblings
    z-index: $menu-bar-item-zindex + 1;
    position: relative;
  }
}
@mixin menu_bar_item_pressed{
  &:active:not(.disabled), &.selected{
    background: #f0f0f0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;

    // Make the button border appear even when in a group by popping the button up above its siblings
    z-index: $menu-bar-item-zindex + 1;
    position: relative;
    border-color: #888;
  }    
}

@mixin menu_bar_item_disabled{
  &.disabled{
    cursor: default;
    color: $menu-bar-item-disabled-text-color;
    @include gradient(#fefefe, #dddede);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-color: #CCC;
  }
}

@mixin menu_bar_item_colours{
  &.danger{
    @include button_colour(#EE5F5B, #BD362F);
  }
  &.primary{
    @include button_colour(#0088CC, #0055CC);
  }
  &.info{
    @include button_colour(#5BC0DE, #2F96B4);
  }
  &.success{
    @include button_colour(#62C462, #51A351);
  }
  &.warning{
    @include button_colour(#FBB450, #F89406);
  }
  &.inverse{
    @include button_colour(#555555, #222222);
  }
}

@mixin text-field{
  border-radius: 2px;
  border: 1px solid #AAA;
  height: $menu-bar-height;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 $menu-bar-item-horizontal-padding;
}

@mixin menu_item{
  @include menu_item_base;
  @include menu_item_hover;
  @include menu_item_disabled;
}

@mixin menu_item_base{
  white-space: nowrap;
  font: $menu-bar-font;
  padding: $menu-item-vertical-padding $menu-item-horizontal-padding;
  cursor: pointer;

  a {
    color: $menu-bar-item-text-color;
    padding: $menu-item-vertical-padding $menu-item-horizontal-padding;
    margin: (-$menu-item-vertical-padding) (-$menu-item-horizontal-padding);
    display: block;
    text-decoration: none;
  }
}
@mixin menu_item_hover {
  &.selected a {
    background: url("/assets/checkbox_selected.png") no-repeat 5px center;

    &:hover {
      background: url("/assets/checkbox_selected_hovered.png") no-repeat 5px center;
    }
  }
  &:hover {
    background: #08C;
    color: white;

    a {
      color: inherit;
    }
  }
}
@mixin menu_item_disabled{
  &.disabled, &.disabled a{
    cursor: default;
    color: $menu-item-disabled-text-color;
  }
}