// VARIABLES
$menu-bar-item-horizontal-padding: 7px;
$menu-bar-item-height: 26px;
$menu-bar-item-min-width: $menu-bar-item-height;
$menu-bar-item-border-color: #BBBBBB;
$menu-bar-item-border-shadow-color: #888888;
$menu-bar-item-border-width: 1px;
$menu-bar-item-text-color: #333;
$menu-bar-item-disabled-text-color: #888;
$menu-bar-item-spacing: 10px;
$menu-bar-height: 2*$menu-bar-item-border-width + $menu-bar-item-height;
$menu-bar-font: bold 12px 'Arial', 'sans-serif';
$menu-bar-item-zindex: 1;
$menu-bar-separator-height: 20px;
$menu-border-width: 1px;
$menu-vertical-padding: 0.2em;
$menu-item-vertical-padding: 0.4em;
$menu-item-horizontal-padding: 2em;

// MIXINS
@mixin no-select{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;    
}
@mixin no-drag{
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;  
}
@mixin menu_bar_item{
  @include menu_bar_item_base;
  @include menu_bar_item_hover;
  @include menu_bar_item_pressed;
  @include menu_bar_item_disabled;
}
@mixin menu_bar_item_base{
  background: #dddede;
  background: -moz-linear-gradient(top, #fefefe 0%, #dddede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dddede));
  background: -webkit-linear-gradient(top, #fefefe 0%,#dddede 100%);
  background: linear-gradient(top, #fefefe 0%,#dddede 100%);
  background-image: -ms-linear-gradient(bottom, #fefefe 0%, #dddede 100%);

  border-color: $menu-bar-item-border-color $menu-bar-item-border-color $menu-bar-item-border-shadow-color;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: $menu-bar-item-border-width;
  font: $menu-bar-font;
  line-height: $menu-bar-item-height;
  min-width: $menu-bar-item-min-width - 2*$menu-bar-item-horizontal-padding;
  padding: 0 $menu-bar-item-horizontal-padding;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 1px 1px white;
  display: inline-block;
  
  // Place the button above any nested menu
  position: relative;
  z-index: $menu-bar-item-zindex;
  cursor: pointer;

  *{
    margin: 0;
    padding: 0;
  }

  img{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  
  > a, > label{
    text-decoration: none;        
    // Make the a fill the hoverable area of the button so clicking anywhere triggers the link
    margin: -$menu-bar-item-horizontal-padding (-$menu-bar-item-horizontal-padding - $menu-bar-item-border-width);
    padding: $menu-bar-item-horizontal-padding ($menu-bar-item-horizontal-padding + $menu-bar-item-border-width);
  }
  a:link, a:visited{
    color: $menu-bar-item-text-color;
  }

  // Hide the inputs without making them display none. IE doesn't click them if they are display none.
  input[type='submit']{
    position: absolute;
    z-index: -1;
    left: -9999px;
  }    
}
@mixin menu_bar_item_hover{
  &:hover{
    border-color: #888;
    // Make the button border appear even when in a group by popping the button up above its siblings
    z-index: $menu-bar-item-zindex + 1;
    position: relative;
  }
}
@mixin menu_bar_item_pressed{
  &:active, &.selected{
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #cccdcd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#cccdcd));
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#cccdcd 100%);
    background: linear-gradient(top, #f0f0f0 0%,#cccdcd 100%);                

    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;

    // Make the button border appear even when in a group by popping the button up above its siblings
    z-index: $menu-bar-item-zindex + 1;
    position: relative;
    border-color: #888;
  }    
}

@mixin menu_bar_item_disabled{
  &.disabled, &.disabled a{
    color: $menu-bar-item-disabled-text-color;
  } 
}

@mixin text-field{
  border-radius: 2px;
  border: 1px solid #AAA;
  height: $menu-bar-height;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 $menu-bar-item-horizontal-padding;
}

@mixin menu_item{
  @include menu_item_base;
  @include menu_item_hover;
}

@mixin menu_item_base{
  white-space: nowrap;
  font: $menu-bar-font;
  padding: $menu-item-vertical-padding $menu-item-horizontal-padding;

  a {
    color: $menu-bar-item-text-color;
    padding: $menu-item-vertical-padding $menu-item-horizontal-padding;
    margin: (-$menu-item-vertical-padding) (-$menu-item-horizontal-padding);
    display: block;
    text-decoration: none;
  }
}
@mixin menu_item_hover {
  &.selected a {
    background: url("/assets/checkbox_selected.png") no-repeat 5px center;

    &:hover {
      background: url("/assets/checkbox_selected_hovered.png") no-repeat 5px center;
    }
  }
  &:hover {
    background: #94A6F4;
    background: -moz-linear-gradient(top, #AFCDF6 0%, #94A6F4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AFCDF6), color-stop(100%,#94A6F4));
    background: -webkit-linear-gradient(top, #AFCDF6 0%,#94A6F4 100%);
    background: linear-gradient(top, #AFCDF6 0%,#94A6F4 100%);
    background-image: -ms-linear-gradient(bottom, #AFCDF6 0%, #94A6F4 100%);

    a {
      color: white;
    }
  }
}