/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree . 
*/

@import 'easy_menu_mixins';

// STYLES
.menu_bar{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  height: $menu-bar-height;

  .menu_bar_content{
    display: inline-block;
    vertical-align: top;
    margin: 0 $menu-bar-item-spacing 0 0;

    &.first_group_item + .grouped,
    &.grouped + .grouped{
      margin-left: -$menu-bar-item-spacing - $menu-bar-item-border-width;
    }


    // MENU BAR ITEMS
    .menu_bar_item{
      @include menu_bar_item;
    }

    // MENUS
    .menu{
      background: none repeat scroll 0 0 white;
      border: 1px solid $menu-bar-item-border-color;
      border-radius: 0 0 2px 2px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      list-style: none outside none;
      margin-top: -1px;
      padding: 0;
      position: absolute;
      display: none;

      .menu_item{
        @include menu_item;
      }
    }
    &.with_menu:hover{
      .menu_bar_item {
        background: white;
        border-bottom: none;
        border-radius: 2px 2px 0 0;
        border-color: $menu-bar-item-border-color;
      }
      
      z-index: $menu-bar-item-zindex + 1; // Position all the contents of this menu_content above any other menu bar item
      .menu {
        display: block;
      }
    }

    // CLICK BLOCKER
    position: relative; // So click blocker can fill the button area
    .click_blocker{
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: $menu-bar-item-zindex + 1;
    }

    // INPUTS IN THE MENU
    input[type=search]{
      @include text-field;
      -webkit-appearance: textfield;
      -webkit-padding-start: 0;
      -webkit-padding-end: 0;
    }
    input[type=text]{
      @include text-field;
    }
    input[type='checkbox']{
      vertical-align: middle;
    }
    select{
      @include menu_bar_item_base;
      @include menu_bar_item_hover;
      height: $menu-bar-height;
      font: $menu-bar-font;
      padding: 0.4em;

      option{
        text-shadow: none;
        padding: 0.4em;
      }
    }        
  }
}
.menu_bar.toggle_menu{
  .menu_bar_content:first-child .menu_bar_item{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
  }
  .menu_bar_content:last-child .menu_bar_item{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }    
}